*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family:Abril;
    src: url('../fonts/AbrilFatface-Regular.ttf');
}



.top{
    min-height: 110vh;
    max-width: 100%;
   
}


             /* EFFECT STYLING star */


.effet{
    position: relative;
}


.effect1{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid black;
    bottom: 10%;
    right: 10%;
    animation: spin 10s linear infinite;
}





@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.effect2{


    position: absolute;
    height: 150px;
    width: 150px;
    border: 20px solid #fe9bb0;
    border-radius: 50%;
    right:5%;
    top:-60px;
    z-index: -1;
    animation: rightBounce 3s ease-in-out infinite;
}



@keyframes TopBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}

@keyframes rightBounce{
    0%,100%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(20px);
    }
}



.effect3{
    position: absolute;
    border-top: 20px solid transparent;
    border-left:20px solid black ;
    right: 30%;
    top: 24%;
    z-index: 1;
    animation: spin 15s linear infinite;
}


.effect3::before{
    content: '';
    position: absolute;
    border-top: 20px solid transparent;
    border-left:20px solid black ;
    opacity: 0.5;
    left: -17px;
    top: -22px;

}
.effect4{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    left: 15%;
    top: 25%;
    z-index: 1;
    
}

.effect5{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fe9bb0;
    border-radius: 50%;
    left: 7%;
    top: 12%;
    z-index: 1;
    
}


.effect6{
    position: absolute;
    height: 40px;
    width: 20px;
    border: 2px solid green;
    border-radius: 4px;
    opacity: 0.15;
    right:7%;
    bottom:50%;
    transform: rotate(30deg);
}


/* #cursor{
    position: absolute;
    width: 90px;
    height: 90px;
    background:rgba(255, 255, 255, 0.2) ;
    border:5px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    left: 40%;
    bottom: 10%;
    z-index: 100;
    
    transition: 0.3s ease-in-out;
  
}

#cursor:hover{
    transform: scale(0.5);
}

.effect6:hover{
     animation: Mybulle 6s linear infinite;
} 

   

@keyframes Mybulle {
    0%,100%{
        left:10%;
    }
    50%{
        left: 50%;
    }


} */

.header{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height:55px;
    width: 100%;  
    
    
} 

.IconsBar{
  margin-right: 45px;
}

.IconsBar i{
  cursor: pointer;
  color: white;
  font-size: 17px;
  margin: 5px;
}

.IconsBar i:hover{
  color: #ff7c9c;
}

.header .logo{
    margin-left: 50px;
    color: #ffffff;
    font-size: 35px;

}

 nav{
    display: inline-block;
    list-style: none;
    right: 150px;
    z-index: 100;
    position: absolute;
   
}

nav ul li{
    display: inline-block;
   
   
    
}


nav ul li a{
    margin: 14px;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 500;
    color: #ffffff;
    
}

nav ul li a:hover{
  color: #ff7c9c;
  transition: 400ms;
 
}


/* Hover Content a */


.active{
 color: #ff7c9c;
}

  
                 /* HEADER STYLING end */


                 
                /* ICON STYLING star */

.icon{
    position: absolute;
    color: black;
    left: 40px;
    top: 30%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}


.icon i{
    margin: 20px;
    cursor: pointer;
    font-size: 18px;
}



                                 /* ICON STYLING end */



.testImg{
    position: absolute;
    left: 10%;
    top: 20%;
     
}


                                  /* SLOGAN STYLING star */

.slogan{
    position: absolute;
    text-transform: uppercase;
    right: 14%;
    top: 36%;
    letter-spacing: 2px;
}

.slogan h1{
    font-size: 25px;
    letter-spacing: 5px;
    color: black;
    font-family:Abril ;

   
}

.slogan h1{
    background:rgba(0,0, 0, 0.75) ;
    line-height: 40px;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 5px auto;
}

.slogan p{
    opacity: 0.7;
    margin-top: 10px;
    font-size: 14px;
    
}
    

                                    /* SLOGAN STYLING end */



                                    /* SCROLL BUTTOUN STYLING star */



.scroll-up-btn{

    font-size: 30px;
    font-weight: 40px;
    position: fixed;
    right: 0;
    bottom: 30px;
    margin-right: 45px;
    border: 1px solid #fe9bb0;
    line-height: 15px;
    width: 33px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    color:#fe9bb0 ;
    cursor: pointer;
    
}

.scroll-up-btn:hover{
    background:#fe9bb0 ;
    color: black;
    font-size: 30px;
    font-weight: 40px;
}


                                                   /* PRODUCT */
                        
 .sectionShop {
     padding: 0rem 0 5rem 0;
     position: relative;
    }




.title{
    text-align: center;
    top: 0;
  
}


.title h1{
   font-family: Abril;
   text-transform: uppercase;
   opacity: 1;
   padding: 5rem;
   letter-spacing: 3px;
   font-size: 2em;
   opacity: 0.9;
   position: relative;
   z-index: 0;
}

.title h1::before{
    content: "";
    position: absolute;
    left: 46%;
    height: 5px;
    background-color:#fe9bb0 ;
    width: 8%;
    bottom:4rem ;
    text-align: center;
 }


 .product-center{
     padding: 0% 10% 2% 10%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
     gap: 4rem 1rem;
     

 }
 .product {
   
    background-color: #fff;
    border: 1px solid rgb(216, 208, 208);
    text-align: center;
    transition: all 300ms ease-in-out;
    width: 257px;
  }

  .product img:hover{
   transform: scale(1.5);
   transition: 900ms;
  }
    


  .product:hover{
   
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
  }

 .product-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


  .product-header {
    position: relative;
    transition: all 300ms ease-in-out;
    z-index: 0;
    width: 256px;
    height: 310px;
  }


  
.product-footer {
    padding: 0.9rem 1rem 0.9rem 1rem;
  }
  

  .product-footer h3 {
    font-size: 1rem;
    font-weight: 500;
    color: black;
  }
  
  .rating {
     color: darkgoldenrod;
  }
  
  .product-footer .price {
    color: #ff7c9c;
    font-size: 1rem;
  }



  .product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2px 2px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
  }


  .product-header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index:2;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }


  .product-header .icons span {
    background-color: #fff;
    font-size: 1.5rem;
    display: block;
    border-radius: 50%;
    padding:17px 17px;
    line-height: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .product-header .icons span i {
    transition: all 500ms ease-in-out;
  }
  
  .product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .product-header .icons span:hover {
    background-color: #ff7c9c;
    color: #fff;
  }
  
  .product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
  
  .product-header .icons a {
    display: block;
    margin-bottom: 1rem;
  }


  .PlusProduct{
    text-align: center;
    bottom: 1.6rem;
    position: absolute;
    left: 45%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
    
  
  }

  .PlusProduct h1{
    border: 2px solid #ff7c9c;
    padding: 3px 30px 3px 30px;
   font-size: 17px;
   font-weight: 600;
   color: black;
   
  }

  .PlusProduct h1:hover{
    background: #ff7c9c;
    color: white;
    transition: all 300ms ease-in-out;
  }


/*// */
                             /* PRODUCT END */
                         /* PROMO */

  .Promo{
    min-height: 70vh;
   
  }

  .product-banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;
    background-color: #243a6f;
   
  }
  
  .product-banner .left img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation: mymove 5s infinite;
  }
  


  .product-banner .right {
    align-self: center;
    text-align: center;
    padding: 1.6rem;
  }
  
  .product-banner .content h2 {
    color: #fbb419;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .product-banner .content .discount {
    color: #b888ff;
  }
  
  .product-banner .content h1 span {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    display: block;
    line-height: 1;
  }

  .product-banner .content a {
      text-align: center;
      padding: 1rem 3rem;
      background-color: #ff7c9c;
      z-index: 100;
      line-height: 150px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 5px;
     
      
  }



  /* SERVICES */

.services{
    padding:5% 10% 0 10% ;
    min-height: 60vh;
    position: relative;
}

.titleService h1{
   
    margin-top: 0;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    font-family:Abril;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
    position: relative;
   
}

.titleService h1::before{
    position: absolute;
    content:'';
    width: 7%;
    height: 5px;
    bottom: -15px;
    background-color: #fe9bb0;
    z-index: 100;
    text-align: center;
    left: 46.5%;

}



.service-center
{
 display: grid;
grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));  
gap: 1rem;
margin-top: 8%;
      }         


.service{
position: relative;
padding: 4rem;
width: 100%;
background-color: #fff;
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
transition: all 300ms ease-in-out;
text-align: center;
border-radius: 0.5rem;
      }
      
  
.service:hover{
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
transform: translateY(-1rem);
background-color: #ff7c9c ;
color: white;
}
 

.service img:hover{
  background: white;
}


.service img{
    position: absolute;
    text-align: center;
    background-color: #ff7c9c ;
    top: 10%;
    right: 43%;
    width: 17%;
    border-radius: 50%;
    padding: 15px 15px;
    cursor: pointer;
 
}


.service div{
    margin-top: 14%;
}


.service div h4{
  padding: 8%;
}



 




  /* FOOTER */

  .footer {
    margin-top: 5%;
    background: #1d262d;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
  }
  
  .footer-container {
   
    padding: 5% 0 0 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1rem;
    transition: 0.6s;
  }

  .footer-center a{
      margin-top: 5px;
  }
  
  .footer-center a:hover {
    color: var(--pink);
  }
  
  .footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
  }
  
  .footer-center h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
  }

  
  .FooterPerso{
    padding-left: 5%;
    height: 5vh;
    width: 100%;
    background-color:#1d262d ;
  }

  .FooterPerso p{
    font-size: 16px;
    font-weight: 600;
  }


                                          /* ADD PAGES */

                                          /* USER ACCOUNT */


.account{
   width: 100%;
   height:100vh ;
   box-sizing: border-box;

}

.containerUser {
  height: 82vh;
  width: 34%;
  /* margin: 6% 0 0 35%; */
  /* background: grey; */
  border-radius: 10px;
  border: 1px solid beige ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(100%,50px); 
 
}


#containerUser{
   left: 0;
  top: 0;
  z-index: 1;
  padding-top: 50px;
  overflow: hidden;
}

input {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: none;
}






hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 50px;
 
}


.modal-content .container {
    margin-left: 5%;
}

.inputText h2{
  font-size: 17px;
}




.pied{
  position: absolute;
  bottom: 20px;
  
 
}

.pied button{
 margin-left:  150px;
 padding: 10px 10px;
 outline: none;
 cursor: pointer;
 }


 .pied button:hover{
   background-color: #ff7c9c;
  border: 1px solid grey;
  border-radius: 2px;
 }

 .pied a{
   color: #ff7c9c;
 }



 /* ADD ABOUT */

 .aboutEx{
   height: 130vh;
 
 }


 .AboutContainer{
   position: relative;
 }


 .AboutImg-center{
   background: url("../images/ztest.jpg") center;
   background-size: cover;
   width: 55%;
   height: 450px;
   margin: 10% 0 0 25%;
   position: relative;
 }



 .AboutImg-center::before{
     position: absolute;  
     content: "";
     background: #ff7c9c;
     height: 100px;
     width:100px;
     z-index: -1;
     top: -5%;
     right: -25px;
} 



.AboutImg-center::after{
  position: absolute;  
  content: "";
  background: #ff7c9c;
  height: 50px;
  width:50px;
  z-index: -1;
 bottom: -5%;
  left: -25px;
} 



.AboutText{
  margin: 60px 0 0 65px;
  width: 60%;
  
}



.AboutText h1{

  font-family:Abril;
  font-size: 2rem;
  opacity: 0.9;
  margin-bottom: 25px;
  position: relative;
}



.AboutText h1::before{
  position: absolute;
  content: "";
  height: 5px;
  width: 80px;
  bottom: -10px;
  background: #ff7c9c;
}





.AboutText p{
  font-size: 16px;
  margin:50px 0 0 77px ;
  font-weight: 400;
}
